<!DOCTYPE html>
<html>
  <head>
    <title>RailsProj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <%= link_to 'Logout', '/logout', method: :delete%> 
  <%= link_to 'Home', user_path(current_user) %>
  <%= link_to 'Events', events_path %>
  <%= link_to 'Create Event', new_event_path %> 
  <%= link_to 'RSVPs', attends_path %>
  <%= link_to 'Popular', events_popular_event_path %>
<% end %>

    <%= yield %>
  </body>
</html>
